--extra-index-url https://download.pytorch.org/whl/cu117

black
copulas
dataclasses
ipykernel
lightning==2.0.6
lightning-bolts
matplotlib
mypy
nbqa[ruff,mypy,black,jupytext]
pandas
pre-commit
pyod
pytest
pytest-cov
pytorch_tabular==1.0.2
rtdl==0.0.13
scikit-learn
timm==0.9.2
toml
torch==1.13.1+cu117
torchvision==0.14.1+cu117
transformers==4.31.0
types-requests
types-setuptools
wandb
